.package {
  cursor: pointer;
}
.package:hover {
  background: #cfc;
}
.package.selected {
  background: #cfc;
}

#packages td {
  border: solid 1px #ccc;
  padding: 2px 8px;
}

#packages thead td {
  background: #eee;
}

.passenger td {
  padding: 2px 2px;
}

#credit-card-form {
  width: 50%;
}

#payment label {
  cursor: pointer;
  font-weight: normal;
}

#payment input {
  margin-right: 5px;
  vertical-align: top;
}

#payment label {
  margin-right: 15px;
}
