.extension-output {
  padding: 10px;
}
.extension-output  {
  font-size: 16px;
}
.extension-output .distance {
  font-size: 12px;
  color: #888;
}
.extension-output .price {
  font-weight: bold;
}
.extension-output.fetching img, .extension-output.fetching span {
  vertical-align: middle;
}


.extension-output.found_by_name, .extension-output.found_by_similar_name {
  background: #e0ffe0;
}
.extension-output.found_by_distance {
  background: #e0ffe0;
}
.extension-output.not_found {
  display: none;
  background: #ffe0e0;
}
.extension-output.marked .distance {
  font-size: 16px;
  color: #ff3333;
}
